# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Generate ECS definition package

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1-5'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version: "18.x"
          cache: 'yarn'

      - run: yarn install --frozen-lockfile

      - name: add cache modules to PATH
        run: echo "${{ github.workspace }}/node_modules/.bin" >> $GITHUB_PATH

      - name: Run Updatecli in Apply mode
        uses: elastic/oblt-actions/updatecli/run@v1
        with:
          command: apply --config .github/updatecli/ecs.yml --values .github/updatecli/values.d/scm.yml --debug
          version: "v0.104.0"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
