# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Generate ECS definition package

on:
  workflow_dispatch:
    inputs:
      ecsRef:
        description: 'ECS Ref'
        required: false
        default: 'main'
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v5
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
    - run: yarn install --frozen-lockfile
    - run: yarn generate-ecs-types -r ${{ inputs.ecsRef }} && yarn test:integration && yarn build
    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
      with:
        title: New definitions generated from elastic/ecs release ${{ inputs.ecsRef }}
    - name: Request reviewers
      if: steps.cpr.outputs.pull-request-number
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh pr edit ${{ steps.cpr.outputs.pull-request-number }} \
          --add-reviewer elastic/obs-onboarding-team
